.std-bg-primary {
    background-color: #f8f8f8;
}

.std-color-primary {
    color: #fd6260;
}

.std-color-secondary {
    color: #767676;
}

.std-box-shadow {
    box-shadow: 0 6rpx 16rpx 0 rgba(0, 0, 0, 0.07);
}

.std-border-radius {
    border-radius: 25rpx;
}

.std-page-margin {
    margin-left: 30rpx;
    margin-right: 30rpx;
}

/* 解决markdown组件显示文本时文字不换行溢出问题 */
view {
    word-wrap: break-word;
}

/* 设置全局页面背景颜色 */
page {
    background-color: #f7f7f7;
}