.std-bg-primary {
    background-color: #f8f8f8;
}

.std-color-primary {
    color: #fd6260;
}

.std-color-secondary {
    color: #767676;
}

.std-color-gray {
    color: #aaaaaa;
}

.std-color-main {
    color: #1a1a1a;
}

.std-color-gradient {
    color: linear-gradient(45deg, #FE3B39 30%, #FD8B8A 82%);
}

.std-bg-gradient {
    background: linear-gradient(45deg, #FE3B39 30%, #FD8B8A 82%);
}

.std-box-shadow {
    box-shadow: 0 6rpx 18rpx 0 rgba(0, 0, 0, 0.12);
}

.std-border-radius {
    border-radius: 25rpx;
}

.std-page-margin {
    margin-left: 30rpx;
    margin-right: 30rpx;
}

.std-bottom-margin-narrow {
    margin-bottom: 16rpx;
}

.std-bottom-margin-normal {
    margin-bottom: 26rpx;
}

.std-bottom-margin-wide {
    margin-bottom: 36rpx;
}

/* 解决markdown组件显示文本时文字不换行溢出问题 */
view {
    word-wrap: break-word;
}

/* 设置全局页面背景颜色 */
page {
    background-color: #f7f7f7;
}